<!DOCTYPE html>

<html>

	<head>
    
		<title class="post-title">{{ post.title }}</title>
   
		 <link rel="stylesheet" href="{{ STATIC_URL }}css/article.css">

	</head>

	<body class="article">
<div class="header">

        <img src="/static/img/django-logo-.png" height="100"/>
    
	<a href="/">Все статьи</a>
</div>
<div class="one-post">
   
	 <h2 class="post-title">{{ post.title }}</h2>
  
  	<div class="article-info">
      
  	<div class="article-author">{{ post.author.username }}</div>
     
  	 <div class="article-created-date">{{ post.created_date }}</div>
  
 	 </div>
   
 	<p class="article-text">{{ post.text }}</p>
</div>

	</body>

</html>