body
 {
    background-color: #40f7ae;
}


div {
    display: block;
}

.archive
 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.article
 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header
 a {
    float: right;
    text-align: right;
}

.article-info
 div {
    display: inline;
}

.article-created-date
 {
    float: right;
    text-align: right;
}

.center_pos
 {
    text-align: center;
}

.article-text
 {
    text-align: justify;
}