<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/article.css">
  <title>Django Public Blog - создать статью</title>
 </head>
 <body>
  <div class="content">
   <h1>Авторизация</h1>
   <form method="POST">{% csrf_token %}
   <div>
    <input type="text" name="nickname" placeholder="Логин" value="{{ form.nickname }}"></div>
	<div>
	<input type="password" name="password" placeholder="Пароль" value="{{ form.password }}"></div>
	<div>
    <input type="submit" value="Войти">
	<a href="/auth/">Регистрация</a>
	</div>
   </form>
  {{ form.errors }}
  </div>
 </body>
</html>